
DataSet/GlobalTemperatures.csv
DataSet/GlobalLandTemperaturesByState.csv
DataSet/GlobalLandTemperaturesByMajorCity.csv
DataSet/GlobalLandTemperaturesByCountry.csv
DataSet/GlobalLandTemperaturesByCity.csv
